/* * { */
    /* border: 1px solid red; */
/* } */

input {
    width: 300px;
}

#render-canvas {
    border: 1px solid grey;
}

#container-thingy {
    display: flex;
}     

#times {
    border: 1px solid grey
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0;
}

.time-div {
    outline: 1px solid grey;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    min-width: 150px;
    margin: 0;
    text-align: center;
}
